@font-face
{
    font-family: cicle;
    src: url(fonts/Cicle_Gordita.ttf);
}

body,input,button {
	font-family:'Josefin Sans',cicle;
	font-size: 25px;
	text-align: center;
}

a    {
	text-decoration: none;
	color: red
}

html,body {
    height: 90%;
    width: 100%;    
}

body {
	background-color: transparent;
	color: black;
    overflow-x: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

body#outer{
	background-image:url('diningCloth.png');
	text-align:center;
}

#plate{
    height: 540px;
	width: 540px;
    text-align: center;
    padding: 30px;
}

div.g-recaptcha > div > div {
    margin: auto;
}

iframe#plate_frame {
    height: 600px;
    width: 600px;
    overflow: hidden;
    border: none;
    background-image: url('plate.png');
}

div#text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

input.submit{
    background-color: transparent;
    border: none;
    color: red;    
}
div.g-recaptcha{
    width: 304px;
    margin: 0 auto 0 auto;    
}
